<%- include("partials/header.ejs")  %>

<div class="container">
    <h1 style="text-align: center;">
        <%= heading %>
    </h1>
    <% if (locals.quoteEdit) { %>
        <div class="container" id="quote-edit">    
            <form method="post" action="/quotes/<%= quoteEdit.id %>">
              <div class="quote-elements col-sm-12">
                <textarea name="quote" rows="5" cols="1" class="form-control"><%=quoteEdit.quote %></textarea>
              </div>
              <div class="quote-elements col-sm-12">
                <input type="text" name="movie" value="<%=quoteEdit.movie %>" class="form-control">
              </div>
              <div class="quote-elements col-sm-12">
                <input type="text" name="year" value="<%=quoteEdit.year %>" class="form-control">
              </div>
              <div class="quote-elements col-sm-12">
                <input type="submit" value="<%= submit %>" class="btn btn-danger">
              </div>
            </form>
          
        </div>
        <% } else {%>
          <div class="container" id="quote-edit">
            <form id="newPostForm" method="post" action="/create">
              <div class="quote-elements col-sm-12">
                <textarea name="quote" placeholder="Quote" required rows="5" class="form-control"></textarea>
              </div>
              <div class="quote-elements col-sm-12">
                <input type="text" name="movie" class="form-control" placeholder="Name of Movie" required>
              </div>
              <div class="quote-elements col-sm-12">
                <input type="text" name="year" class="form-control" placeholder="Released In" required>
              </div>
              <div class="quote-elements col-sm-12">
                <input type="submit" value="<%= submit %>" class="btn btn-danger">
              </div>
            </form>
          </div>
          <% } %>
  
    </div>
    

</div>   
















<%- include("partials/footer.ejs") %>